/* Form.css */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 2rem 0;
  /* background-color: #ffffff; */
  border-radius: 1rem;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.label {
  margin-bottom: 5px;
  display: block;
  font-size: 14px;
}

.input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: #91908d;
  background-color: #fff;
}

select {
  background-color: #fff;
  color: #91908d;
}

.button {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #e63c3a;
  color: #fff;
  cursor: pointer;
}

/* --- Checkbox CSS --- */
/* input[type="checkbox"].toggle {
  opacity: 0.5;
}

input[type="checkbox"].toggle:checked + label {
  color: red;
} */

.slider {
  width: 60px;
  height: 1.75rem;
  background-color: #e63c3a;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding: 0.15rem; */
  border-radius: 1.75rem;
  cursor: pointer;
  transition: all 150ms ease;
}

.dot {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1.5rem;
  background-color: #fff;
  transition: all 150ms ease;
  margin: 0.15rem;
  margin-right: auto;
}

.true {
  background-color: #e63c3a;
}

.true .dot {
  margin: 0.15rem;
  margin-left: auto;
}

.false {
  background-color: #91908d;
}

/* --- Back Button CSS --- */

.back_btn_container {
  width: 100%;
}

.back_btn_container button {
  padding: 10px 0;
}
