.transactions {
  box-sizing: border-box;
}

.transactions ul {
  padding: 0;
}

.transaction__collection {
  display: flex;
  border-bottom: 2px solid black;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 3rem;
}

.transaction__inner {
  display: flex;
  width: 100%;
}

.transaction__data {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  padding-bottom: 1rem;
  gap: 1rem;
}

.transaction__data p {
  margin: 0;
}

.transaction__buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
